/* #custom_feed {
    display:none;
} */

body .ab-feed .ab-feed-body {
    border-radius: 0px 0px 20px 20px;
}

body .ab-feed .ab-feed-buttons-wrapper {
    background-color: darkcyan;
}

p, span, div, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

.bg-img {
    background-image: url('img/Brazel.jpg')
}

.btn-secondary {
    background-color: #61C0BF !important;
}

.btn-secondary:hover {
    background-color: #00ADB5 !important;
}

.btn-outline-secondary:hover {
    background-color: #393E46 !important;
}